# 2.title.png

## Introduction
### This is a  new notebook

### List of data science languages
- Python
- R
- SQL

### List of data science libraries
- Tensorflow
- Numpy
- Pandas

| Data science tools |
|--------------------|
| Apache spark |
| Apache Hadoop |
| Jupyter notebook |

### Arithmetic expression examples
- $ y = a + b x $
- $\sqrt{3y+4}+(1+y)^2$

In [2]:
a = 4
b = 7
c = a * b
d = a + b

print(c)
print(d)

28
11

In [9]:
a = int(input("Enter time in min"))
b = divmod(a,60)
print('hours, min', b)

Enter time in min 90

hours, min (1, 30)

### Objectives
- Learning about data science tools
- Learning about data science languages
- Installing Anaconda to run Jupyter notebooks
- Learning about R- studio

## Author's nanme
### Meg